/*===============================================
  Table of Contents
=================================================

	1. Basic
	2. Helpers Classes
	3. Layouts
	4. Header
		4.1 Navigation
		4.2 Secondary Nav
		4.3 Page Header
	5 Elements
		5.1 Featured Box
		5.2 Team
		5.3 Accordion & Toggle
		5.4 Nav
		5.5 Tabs
		5.6 Hero Background
		5.7 Owl Carousel
		5.8 Brands Grid
		5.9 Portfolio
		5.10 List Style
	6 Footer
		6.1 Social Icons
		6.2 Back to Top
	7 Extra

=======================================================*/

@import 'https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900';

/* =================================== */
/*  1. Basic Style 
/* =================================== */

body, html {
    height: 100%;
}
  
body {
    background: #dddddd;
    color: #4c4d4d;
    font-family: "Poppins", sans-serif;
}

::selection {
    background: #20c997;
    color: #fff;
    text-shadow: none;
}
  
form {
    padding: 0;
    margin: 0;
    display: inline;
}

img {
    vertical-align: inherit;
}

a, a:focus {
    color: #20c997;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a:hover, a:active {
    color: #1baa80;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a:focus, a:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
button:focus,
button:active {
    outline: none;
}

p {
    line-height: 1.8;
}

blockquote {
    border-left: 5px solid #eee;
    padding: 10px 20px;
}

iframe {
    border: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #252b33;
    font-family: "Poppins", sans-serif;
}

/* =================================== */
/*  2. Helpers Classes
/* =================================== */
/* Box Shadow */
.shadow-md {
    -webkit-box-shadow: 0px 0px 50px -35px rgba(0, 0, 0, 0.4) !important;
    box-shadow: 0px 0px 50px -35px rgba(0, 0, 0, 0.4) !important;
  }
  
  /* Border Radius */
  .rounded-lg {
    border-radius: 0.6rem !important;
  }
  
  .rounded-top-0 {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
  
  .rounded-bottom-0 {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  
  .rounded-left-0 {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
  
  .rounded-right-0 {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  
  /* Border Size */
  .border-1 {
    border-width: 1px !important;
  }
  
  .border-2 {
    border-width: 2px !important;
  }
  
  .border-3 {
    border-width: 3px !important;
  }
  
  .border-4 {
    border-width: 4px !important;
  }
  
  .border-5 {
    border-width: 5px !important;
  }
  
  /* Text Size */
  .text-0 {
    font-size: 11px !important;
    font-size: 0.6875rem !important;
  }
  
  .text-1 {
    font-size: 12px !important;
    font-size: 0.75rem !important;
  }
  
  .text-2 {
    font-size: 14px !important;
    font-size: 0.875rem !important;
  }
  
  .text-3 {
    font-size: 16px !important;
    font-size: 1rem !important;
  }
  
  .text-4 {
    font-size: 18px !important;
    font-size: 1.125rem !important;
  }
  
  .text-5 {
    font-size: 21px !important;
    font-size: 1.3125rem !important;
  }
  
  .text-6 {
    font-size: 24px !important;
    font-size: 1.50rem !important;
  }
  
  .text-7 {
    font-size: 28px !important;
    font-size: 1.75rem !important;
  }
  
  .text-8 {
    font-size: 32px !important;
    font-size: 2rem !important;
  }
  
  .text-9 {
    font-size: 36px !important;
    font-size: 2.25rem !important;
  }
  
  .text-10 {
    font-size: 40px !important;
    font-size: 2.50rem !important;
  }
  
  .text-11 {
    font-size: 2.75rem !important;
  }
  @media (max-width: 1200px) {
    .text-11 {
      font-size: calc(1.4rem + 1.8vw)  !important;
    }
  }
  
  .text-12 {
    font-size: 3rem !important;
  }
  @media (max-width: 1200px) {
    .text-12 {
      font-size: calc(1.425rem + 2.1vw)  !important;
    }
  }
  
  .text-13 {
    font-size: 3.25rem !important;
  }
  @media (max-width: 1200px) {
    .text-13 {
      font-size: calc(1.45rem + 2.4vw)  !important;
    }
  }
  
  .text-14 {
    font-size: 3.5rem !important;
  }
  @media (max-width: 1200px) {
    .text-14 {
      font-size: calc(1.475rem + 2.7vw)  !important;
    }
  }
  
  .text-15 {
    font-size: 3.75rem !important;
  }
  @media (max-width: 1200px) {
    .text-15 {
      font-size: calc(1.5rem + 3vw)  !important;
    }
  }
  
  .text-16 {
    font-size: 4rem !important;
  }
  @media (max-width: 1200px) {
    .text-16 {
      font-size: calc(1.525rem + 3.3vw)  !important;
    }
  }
  
  .text-17 {
    font-size: 4.5rem !important;
  }
  @media (max-width: 1200px) {
    .text-17 {
      font-size: calc(1.575rem + 3.9vw)  !important;
    }
  }
  
  .text-18 {
    font-size: 5rem !important;
  }
  @media (max-width: 1200px) {
    .text-18 {
      font-size: calc(1.625rem + 4.5vw)  !important;
    }
  }
  
  .text-19 {
    font-size: 5.25rem !important;
  }
  @media (max-width: 1200px) {
    .text-19 {
      font-size: calc(1.65rem + 4.8vw)  !important;
    }
  }
  
  .text-20 {
    font-size: 5.75rem !important;
  }
  @media (max-width: 1200px) {
    .text-20 {
      font-size: calc(1.7rem + 5.4vw)  !important;
    }
  }
  
  .text-21 {
    font-size: 6.5rem !important;
  }
  @media (max-width: 1200px) {
    .text-21 {
      font-size: calc(1.775rem + 6.3vw)  !important;
    }
  }
  
  .text-22 {
    font-size: 7rem !important;
  }
  @media (max-width: 1200px) {
    .text-22 {
      font-size: calc(1.825rem + 6.9vw)  !important;
    }
  }
  
  .text-23 {
    font-size: 7.75rem !important;
  }
  @media (max-width: 1200px) {
    .text-23 {
      font-size: calc(1.9rem + 7.8vw)  !important;
    }
  }
  
  .text-24 {
    font-size: 8.25rem !important;
  }
  @media (max-width: 1200px) {
    .text-24 {
      font-size: calc(1.95rem + 8.4vw)  !important;
    }
  }
  
  .text-25 {
    font-size: 9rem !important;
  }
  @media (max-width: 1200px) {
    .text-25 {
      font-size: calc(2.025rem + 9.3vw)  !important;
    }
  }
  
  .text-11, .text-12, .text-13, .text-14, .text-15, .text-16, .text-17, .text-18, .text-19, .text-20, .text-21, .text-22, .text-23, .text-24, .text-25 {
    line-height: 1.3;
  }
  
  /* Line height */
  .line-height-07 {
    line-height: 0.7 !important;
  }
  
  .line-height-1 {
    line-height: 1 !important;
  }
  
  .line-height-2 {
    line-height: 1.2 !important;
  }
  
  .line-height-3 {
    line-height: 1.4 !important;
  }
  
  .line-height-4 {
    line-height: 1.6 !important;
  }
  
  .line-height-5 {
    line-height: 1.8 !important;
  }
  
  /* Font Weight */
  .font-weight-100 {
    font-weight: 100 !important;
  }
  
  .font-weight-200 {
    font-weight: 200 !important;
  }
  
  .font-weight-300 {
    font-weight: 300 !important;
  }
  
  .font-weight-400 {
    font-weight: 400 !important;
  }
  
  .font-weight-500 {
    font-weight: 500 !important;
  }
  
  .font-weight-600 {
    font-weight: 600 !important;
  }
  
  .font-weight-700 {
    font-weight: 700 !important;
  }
  
  .font-weight-800 {
    font-weight: 800 !important;
  }
  
  .font-weight-900 {
    font-weight: 900 !important;
  }
  
  /* Opacity */
  .opacity-0 {
    opacity: 0;
  }
  
  .opacity-1 {
    opacity: 0.1;
  }
  
  .opacity-2 {
    opacity: 0.2;
  }
  
  .opacity-3 {
    opacity: 0.3;
  }
  
  .opacity-4 {
    opacity: 0.4;
  }
  
  .opacity-5 {
    opacity: 0.5;
  }
  
  .opacity-6 {
    opacity: 0.6;
  }
  
  .opacity-7 {
    opacity: 0.7;
  }
  
  .opacity-8 {
    opacity: 0.8;
  }
  
  .opacity-9 {
    opacity: 0.9;
  }
  
  .opacity-10 {
    opacity: 1;
  }
  
  /* Background light */
  .bg-light-1 {
    background-color: #e9ecef !important;
  }
  
  .bg-light-2 {
    background-color: #dee2e6 !important;
  }
  
  .bg-light-3 {
    background-color: #ced4da !important;
  }
  
  .bg-light-4 {
    background-color: #adb5bd !important;
  }
  
  /* Background Dark */
  .bg-dark {
    background-color: #111418 !important;
  }
  
  .bg-dark-1 {
    background-color: #212529 !important;
  }
  
  .bg-dark-2 {
    background-color: #343a40 !important;
  }
  
  .bg-dark-3 {
    background-color: #495057 !important;
  }
  
  .bg-dark-4 {
    background-color: #6c757d !important;
  }
  
  /* Progress Bar */
  .progress-sm {
    height: 0.5rem !important;
  }
  
  .progress-lg {
    height: 1.5rem !important;
  }
  
  hr {
    border-top: 1px solid rgba(16, 85, 96, 0.1);
  }

/* =================================== */
/*  3. Layouts
/* =================================== */
#main-wrapper {
    background: #fff;
  }
  
  .box #main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .section {
    position: relative;
    padding: 4.5rem 0;
    overflow: hidden;
  }
  
  @media (max-width: 767.98px) {
    .section {
      padding: 3.5rem 0;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px !important;
    }
  }
  /*== Fullscreen Height ==*/
  .fullscreen {
    min-height: 100vh !important;
  }
  
  /*== Fullscreen Height ==*/
  .fullscreen-with-header {
    min-height: calc(100vh - 67px) !important;
  }
  
  /*== Scroll Down Arrow ==*/
  .scroll-down-arrow {
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    color: #fff;
  }
  .scroll-down-arrow .animated {
    position: relative;
    animation: fadeInDown 1.5s infinite;
    -webkit-animation: fadeInDown 1.5s infinite;
    -moz-animation: fadeInDown 1.5s infinite;
    -o-animation: fadeInDown 1.5s infinite;
  }
  
  @keyframes fadeInDown {
    0% {
      top: -25px;
      opacity: 0;
    }
    100% {
      top: 10px;
      opacity: 1;
    }
  }
  /*== Heading Separator Line ==*/
  .heading-separator-line {
    width: 80px;
  }
  
  /*== box Framed ==*/
  @media (min-width: 992px) {
    .box-framed .dark.frame-top,
    .box-framed .dark.frame-bottom,
    .box-framed .dark.frame-left,
    .box-framed .dark.frame-right {
      background: #000;
    }
  
    .box-framed .frame-top, .box-framed .frame-bottom, .box-framed .frame-left, .box-framed .frame-right {
      position: fixed;
      top: 0;
      left: 0;
      background: #f0f0f0;
      z-index: 1051;
    }
    .box-framed .dark .frame-top, .box-framed .dark .frame-bottom, .box-framed .dark .frame-left, .box-framed .dark .frame-right {
      background: #000;
    }
    .box-framed .frame-left {
      bottom: 0;
      width: 20px;
    }
    .box-framed .frame-right {
      bottom: 0;
      width: 20px;
      left: auto;
      right: 0;
    }
    .box-framed .frame-top {
      right: 0;
      height: 20px;
    }
    .box-framed .frame-bottom {
      right: 0;
      height: 20px;
      top: auto;
      bottom: 0;
    }
    .box-framed #main-wrapper {
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .box-framed #header .primary-menu.bg-transparent {
      top: 20px;
    }
    .box-framed #header .container, .box-framed #header .container-fluid {
      padding-left: 45px;
      padding-right: 45px;
    }
    .box-framed #back-to-top {
      bottom: 30px;
      right: 30px;
    }
    .box-framed .scroll-down-arrow {
      bottom: 30px;
    }
    .box-framed .modal-dialog {
      margin: 3.2rem auto;
    }
    .box-framed #styles-switcher {
      margin-left: 20px;
    }
  }
  /* =================================== */
  /*  4. Header
  /* =================================== */
  #header {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #header .navbar {
    padding: 0px;
  }
  #header .logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  
  /*=== 4.1 Navigation ===*/
  .navbar-light .navbar-nav .active > .nav-link {
    color: #0c2f55;
  }
  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show {
    color: #0c2f55;
  }
  .navbar-light .navbar-nav .show > .nav-link {
    color: #0c2f55;
  }
  
  .primary-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: auto !important;
    -webkit-box-ordinal-group: 0;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background: #fff;
    border-bottom: 1px solid #efefef;
  }
  .primary-menu.bg-transparent {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.3);
  }
  .primary-menu.sticky-on {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1020;
    left: 0;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    -webkit-animation: slide-down 0.7s;
    -moz-animation: slide-down 0.7s;
    animation: slide-down 0.7s;
  }
  @-webkit-keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @-moz-keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .primary-menu.sticky-on .none-on-sticky {
    display: none !important;
  }
  .primary-menu ul.navbar-nav > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .primary-menu ul.navbar-nav > li + li {
    margin-left: 2px;
  }
  .primary-menu ul.navbar-nav > li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .primary-menu ul.navbar-nav > li > a:not(.btn) {
    height: 70px;
    padding: 0px 0.85em;
    color: #252b33;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    position: relative;
  }
  .primary-menu ul.navbar-nav > li:hover > a:not(.btn), .primary-menu ul.navbar-nav > li > a.active:not(.btn) {
    color: #20c997;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .primary-menu ul.navbar-nav > li a.btn {
    padding: 0.4rem 1.4rem;
  }
  .primary-menu ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
    padding: 8px 0px;
    background-color: transparent;
    color: #777;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .primary-menu ul.navbar-nav > li.dropdown .dropdown-menu li:hover > a:not(.btn) {
    color: #20c997;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .primary-menu ul.navbar-nav > li.dropdown .dropdown-menu {
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);
    border: 0px none;
    padding: 10px 15px;
    min-width: 230px;
    margin: 0;
    font-size: 14px;
    font-size: 0.875rem;
    z-index: 1021;
  }
  .primary-menu .dropdown-menu-right {
    left: auto !important;
    right: 100% !important;
  }
  .primary-menu .dropdown-toggle:after {
    content: none;
  }
  .primary-menu.navbar-line-under-text ul.navbar-nav > li > a:not(.btn):after {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    left: 50%;
    right: 0;
    bottom: 14px;
    background-color: transparent;
    color: #fff;
    border-bottom: 2px solid #20c997;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, 0) translateZ(0);
    -webkit-transform: translate(-50%, 0) translateZ(0);
  }
  .primary-menu.navbar-line-under-text ul.navbar-nav > li > a:hover:not(.logo):after, .primary-menu.navbar-line-under-text ul.navbar-nav > li > a.active:after {
    width: calc(100% - 0.99em);
  }
  
  /*== Side Header ==*/
  .side-header #main-wrapper {
    margin-left: 260px;
  }
  .side-header #header {
    border: none;
  }
  .side-header .primary-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100% !important;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
  }
  .side-header .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  .side-header ul.navbar-nav li {
    display: block;
  }
  .side-header ul.navbar-nav li a:not(.btn) {
    display: block;
    height: auto;
  }
  .side-header ul.navbar-nav li + li {
    margin-left: 0px;
  }
  .side-header ul.navbar-nav li > a:hover:after, .side-header ul.navbar-nav li > a.active:after {
    content: none;
    width: 0px;
  }
  .side-header ul.navbar-nav > li > a:not(.btn) {
    height: auto;
    padding: 10px 0;
    position: relative;
  }
  .side-header.side-header-right #main-wrapper {
    margin-right: 260px;
    margin-left: auto;
  }
  .side-header.side-header-right .primary-menu {
    left: auto;
    right: 0;
  }
  
  @media (max-width: 991.98px) {
    .side-header #main-wrapper {
      margin-left: auto;
    }
    .side-header .primary-menu {
      position: initial;
      width: 100%;
      height: auto !important;
      overflow: visible;
    }
    .side-header.side-header-right #main-wrapper {
      margin-right: auto;
    }
  }
  /*== Color Options ==*/
  .primary-menu.navbar-text-light .navbar-toggler span {
    background: #fff;
  }
  
  .primary-menu.navbar-text-light .navbar-nav > li > a:not(.btn) {
    color: rgba(250, 250, 250, 0.9);
  }
  
  .primary-menu.navbar-text-light.navbar-line-under-text .navbar-nav > li > a:not(.logo):after, .primary-menu.navbar-text-light.navbar-line-under-text .navbar-nav > li > a.active:after {
    border-color: rgba(250, 250, 250, 0.6);
  }
  
  .sticky-on.bg-transparent:not(.navbar-text-light), .sticky-top .sticky-on-top.bg-transparent:not(.navbar-text-light) {
    background-color: #fff !important;
    border-bottom: 1px solid #efefef !important;
  }
  
  .sticky-on.navbar-text-light.bg-transparent, .sticky-top .sticky-on-top.navbar-text-light.bg-transparent {
    background-color: #111 !important;
    -webkit-box-shadow: 0px 0px 10px rgba(250, 250, 250, 0.03);
    box-shadow: 0px 0px 10px rgba(250, 250, 250, 0.03);
    border-bottom: none !important;
  }
  
  /* Hamburger Menu Button */
  .navbar-toggler {
    width: 25px;
    height: 30px;
    padding: 10px;
    margin: 18px 15px;
    position: relative;
    border: none;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: block;
  }
  .navbar-toggler span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #3c3636;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .navbar-toggler span:nth-child(1) {
    top: 7px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  .navbar-toggler span:nth-child(2) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  .navbar-toggler span:nth-child(3) {
    top: 21px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  .navbar-toggler.show span:nth-child(1) {
    top: 3px;
    left: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar-toggler.show span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .navbar-toggler.show span:nth-child(3) {
    top: 21px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .navbar-accordion {
    position: initial;
  }
  
  .navbar-expand-none .navbar-collapse {
    position: absolute;
    top: 99%;
    right: 0;
    left: 0;
    background: #fff;
    margin-top: 0px;
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  .navbar-expand-none .navbar-collapse .navbar-nav {
    overflow: hidden;
    overflow-y: auto;
    max-height: 65vh;
    padding: 15px;
  }
  .navbar-expand-none ul.navbar-nav li {
    display: block;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0;
  }
  .navbar-expand-none ul.navbar-nav li:last-child {
    border: none;
  }
  .navbar-expand-none ul.navbar-nav li + li {
    margin-left: 0px;
  }
  .navbar-expand-none ul.navbar-nav li.dropdown > .dropdown-toggle > .arrow.show:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .navbar-expand-none ul.navbar-nav li > a:hover:after, .navbar-expand-none ul.navbar-nav li > a.active:after {
    content: none !important;
    width: 0px !important;
  }
  .navbar-expand-none ul.navbar-nav > li > a:not(.btn) {
    height: auto;
    padding: 8px 0;
    position: relative;
  }
  .navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
    padding: 8px 0;
    position: relative;
  }
  .navbar-expand-none ul.navbar-nav > li.dropdown:hover > a:after {
    content: none;
  }
  .navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
    -webkit-transform: translate(-50%, -50%) rotate(134deg);
    transform: translate(-50%, -50%) rotate(134deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-menu {
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0px 0px 0px 15px;
  }
  .navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
    margin: 0;
  }
  .navbar-expand-none.navbar-text-light .navbar-collapse {
    background: rgba(0, 0, 0, 0.95);
  }
  .navbar-expand-none.navbar-text-light .navbar-collapse ul.navbar-nav li {
    border-color: rgba(250, 250, 250, 0.15);
  }
  
  @media (max-width: 575.98px) {
    .navbar-expand-sm .navbar-collapse {
      position: absolute;
      top: 99%;
      right: 0;
      left: 0;
      background: #fff;
      margin-top: 0px;
      z-index: 1000;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-sm .navbar-collapse .navbar-nav {
      overflow: hidden;
      overflow-y: auto;
      max-height: 65vh;
      padding: 15px;
    }
    .navbar-expand-sm ul.navbar-nav li {
      display: block;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }
    .navbar-expand-sm ul.navbar-nav li:last-child {
      border: none;
    }
    .navbar-expand-sm ul.navbar-nav li + li {
      margin-left: 0px;
    }
    .navbar-expand-sm ul.navbar-nav li.dropdown > .dropdown-toggle > .arrow.show:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-sm ul.navbar-nav li > a:hover:after, .navbar-expand-sm ul.navbar-nav li > a.active:after {
      content: none !important;
      width: 0px !important;
    }
    .navbar-expand-sm ul.navbar-nav > li > a:not(.btn) {
      height: auto;
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-sm ul.navbar-nav > li.dropdown:hover > a:after {
      content: none;
    }
    .navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
      -webkit-transform: translate(-50%, -50%) rotate(134deg);
      transform: translate(-50%, -50%) rotate(134deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-menu {
      margin: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      padding: 0px 0px 0px 15px;
    }
    .navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
      margin: 0;
    }
    .navbar-expand-sm.navbar-text-light .navbar-collapse {
      background: rgba(0, 0, 0, 0.95);
    }
    .navbar-expand-sm.navbar-text-light .navbar-collapse ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.15);
    }
  }
  @media (max-width: 767.98px) {
    .navbar-expand-md .navbar-collapse {
      position: absolute;
      top: 99%;
      right: 0;
      left: 0;
      background: #fff;
      margin-top: 0px;
      z-index: 1000;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-md .navbar-collapse .navbar-nav {
      overflow: hidden;
      overflow-y: auto;
      max-height: 65vh;
      padding: 15px;
    }
    .navbar-expand-md ul.navbar-nav li {
      display: block;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }
    .navbar-expand-md ul.navbar-nav li:last-child {
      border: none;
    }
    .navbar-expand-md ul.navbar-nav li + li {
      margin-left: 0px;
    }
    .navbar-expand-md ul.navbar-nav li.dropdown > .dropdown-toggle > .arrow.show:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-md ul.navbar-nav li > a:hover:after, .navbar-expand-md ul.navbar-nav li > a.active:after {
      content: none !important;
      width: 0px !important;
    }
    .navbar-expand-md ul.navbar-nav > li > a:not(.btn) {
      height: auto;
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-md ul.navbar-nav > li.dropdown:hover > a:after {
      content: none;
    }
    .navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
      -webkit-transform: translate(-50%, -50%) rotate(134deg);
      transform: translate(-50%, -50%) rotate(134deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-menu {
      margin: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      padding: 0px 0px 0px 15px;
    }
    .navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
      margin: 0;
    }
    .navbar-expand-md.navbar-text-light .navbar-collapse {
      background: rgba(0, 0, 0, 0.95);
    }
    .navbar-expand-md.navbar-text-light .navbar-collapse ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.15);
    }
  }
  @media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-collapse {
      position: absolute;
      top: 99%;
      right: 0;
      left: 0;
      background: #fff;
      margin-top: 0px;
      z-index: 1000;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav {
      overflow: hidden;
      overflow-y: auto;
      max-height: 65vh;
      padding: 15px;
    }
    .navbar-expand-lg ul.navbar-nav li {
      display: block;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }
    .navbar-expand-lg ul.navbar-nav li:last-child {
      border: none;
    }
    .navbar-expand-lg ul.navbar-nav li + li {
      margin-left: 0px;
    }
    .navbar-expand-lg ul.navbar-nav li.dropdown > .dropdown-toggle > .arrow.show:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-lg ul.navbar-nav li > a:hover:after, .navbar-expand-lg ul.navbar-nav li > a.active:after {
      content: none !important;
      width: 0px !important;
    }
    .navbar-expand-lg ul.navbar-nav > li > a:not(.btn) {
      height: auto;
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-lg ul.navbar-nav > li.dropdown:hover > a:after {
      content: none;
    }
    .navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
      -webkit-transform: translate(-50%, -50%) rotate(134deg);
      transform: translate(-50%, -50%) rotate(134deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-menu {
      margin: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      padding: 0px 0px 0px 15px;
    }
    .navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
      margin: 0;
    }
    .navbar-expand-lg.navbar-text-light .navbar-collapse {
      background: rgba(0, 0, 0, 0.95);
    }
    .navbar-expand-lg.navbar-text-light .navbar-collapse ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.15);
    }
  }
  @media (max-width: 1199.98px) {
    .navbar-expand-xl .navbar-collapse {
      position: absolute;
      top: 99%;
      right: 0;
      left: 0;
      background: #fff;
      margin-top: 0px;
      z-index: 1000;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-xl .navbar-collapse .navbar-nav {
      overflow: hidden;
      overflow-y: auto;
      max-height: 65vh;
      padding: 15px;
    }
    .navbar-expand-xl ul.navbar-nav li {
      display: block;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }
    .navbar-expand-xl ul.navbar-nav li:last-child {
      border: none;
    }
    .navbar-expand-xl ul.navbar-nav li + li {
      margin-left: 0px;
    }
    .navbar-expand-xl ul.navbar-nav li.dropdown > .dropdown-toggle > .arrow.show:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-xl ul.navbar-nav li > a:hover:after, .navbar-expand-xl ul.navbar-nav li > a.active:after {
      content: none !important;
      width: 0px !important;
    }
    .navbar-expand-xl ul.navbar-nav > li > a:not(.btn) {
      height: auto;
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-xl ul.navbar-nav > li.dropdown:hover > a:after {
      content: none;
    }
    .navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
      -webkit-transform: translate(-50%, -50%) rotate(134deg);
      transform: translate(-50%, -50%) rotate(134deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-menu {
      margin: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      padding: 0px 0px 0px 15px;
    }
    .navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
      margin: 0;
    }
    .navbar-expand-xl.navbar-text-light .navbar-collapse {
      background: rgba(0, 0, 0, 0.95);
    }
    .navbar-expand-xl.navbar-text-light .navbar-collapse ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.15);
    }
  }
  /*== Overlay Menu ==*/
  .navbar-overlay .navbar-collapse {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: auto;
    height: 100% !important;
    opacity: 0 !important;
    visibility: hidden;
    background: rgba(255, 255, 250, 0.95);
    -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
    transition: visibility 0.3s ease, opacity 0.3s ease;
  }
  
  .navbar-overlay .navbar-collapse.show {
    opacity: 1 !important;
    visibility: visible;
  }
  
  .navbar-overlay .navbar-collapse .navbar-nav {
    min-width: 400px;
    max-height: 80vh;
  }
  
  .navbar-overlay .navbar-toggler {
    z-index: 1001;
  }
  
  .navbar-overlay ul.navbar-nav li {
    text-align: center;
    max-width: 400px;
    border: 0px none;
  }
  
  .navbar-overlay ul.navbar-nav li a {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
    -webkit-transition: opacity 0.6s 0.14s ease, transform 0.44s 0.14s ease, color 0.2s linear;
    transition: opacity 0.6s 0.14s ease, transform 0.44s 0.14s ease, color 0.2s linear;
  }
  
  .navbar-overlay .navbar-collapse.show ul.navbar-nav li a {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  /*== Push Side Open Menu ==*/
  .navbar-side-open .navbar-collapse {
    position: fixed;
    display: block;
    right: 0px;
    left: auto;
    top: 0;
    width: 300px;
    padding: 65px 15px 15px 15px;
    pointer-events: auto;
    height: 100% !important;
    background: rgba(255, 255, 250, 0.95);
    -webkit-transform: translateX(calc(100% + 15px));
    transform: translateX(calc(100% + 15px));
    -webkit-transition: transform 0.5s ease !important;
    transition: transform 0.5s ease !important;
  }
  
  .navbar-side-open .navbar-collapse.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  .navbar-side-open .navbar-collapse .navbar-nav {
    max-height: 80vh;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .navbar-side-open .navbar-toggler {
    z-index: 1001;
  }
  
  .navbar-side-open ul.navbar-nav li {
    border: 0px none;
  }
  
  .navbar-side-open ul.navbar-nav li a {
    display: block;
    padding: 10px 0 !important;
  }
  
  .dropdown-menu {
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);
    border: 0px none;
    font-size: 14px;
    font-size: 0.875rem;
  }
  
  /*=== 4.2 Secondary Nav ===*/
  .secondary-nav.nav {
    padding-left: 8px;
  }
  .secondary-nav.nav .nav-link {
    text-align: center;
    font-size: 16px;
    padding: 1rem 20px;
    white-space: nowrap;
    color: rgba(250, 250, 250, 0.9);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .secondary-nav.nav .nav-link:hover {
    color: #fafafa;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .secondary-nav.nav .nav-link span {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
  }
  .secondary-nav.nav .nav-item .nav-link.active {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  .secondary-nav.nav.alternate .nav-link {
    color: rgba(0, 0, 0, 0.6);
  }
  .secondary-nav.nav.alternate .nav-link:hover {
    color: black;
  }
  .secondary-nav.nav.alternate .nav-item .nav-link.active {
    background-color: transparent;
    color: #1e1d1c;
    border-bottom: 3px solid #20c997;
  }
  
  @media (max-width: 1199.98px) {
    .secondary-nav.nav {
      flex-wrap: nowrap;
      overflow: hidden;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
    }
  }
  /*=== 4.3 Page Header ===*/
  .page-header {
    margin: 0 0 30px 0;
    padding: 30px 0;
  }
  .page-header h1 {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    padding: 5px 0;
  }
  .page-header .breadcrumb {
    background: none;
    margin: 0 0 8px 2px;
    padding: 0;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .page-header .breadcrumb > li {
    display: inline-block;
    font-size: 0.85em;
    text-shadow: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .page-header .breadcrumb > li + li:before {
    color: inherit;
    opacity: 0.7;
    font-family: 'Font Awesome 5 Free';
    content: "\f105";
    padding: 0 7px 0 5px;
    font-weight: 900;
  }
  .page-header .breadcrumb > li a {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .page-header .breadcrumb > li a:hover {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .page-header.page-header-text-light {
    color: #fff;
  }
  .page-header.page-header-text-light h1 {
    color: #fff;
  }
  .page-header.page-header-text-light .breadcrumb > li {
    color: rgba(250, 250, 250, 0.8);
  }
  .page-header.page-header-text-light .breadcrumb > li a {
    color: rgba(250, 250, 250, 0.8);
  }
  .page-header.page-header-text-light .breadcrumb > li a:hover {
    color: #fff;
  }
  .page-header.page-header-text-dark h1 {
    color: #1e1d1c;
  }
  .page-header.page-header-text-dark .breadcrumb > li {
    color: #707070;
  }
  .page-header.page-header-text-dark .breadcrumb > li a {
    color: #707070;
  }
  .page-header.page-header-text-dark .breadcrumb > li a:hover {
    color: #20c997;
  }

/* =================================== */
/*  6. Footer
/* =================================== */
#footer {
    background: #fff;
    color: #252b33;
    padding: 66px 0px;
    padding: 4.125rem 0;
  }
  #footer .nav .nav-item {
    display: inline-block;
    line-height: 12px;
    margin: 0;
  }
  #footer .nav .nav-item .nav-link {
    color: #252b33;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #footer .nav .nav-item .nav-link:focus {
    color: #20c997;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #footer .nav .nav-item:first-child .nav-link {
    padding-left: 0px;
  }
  #footer .nav .nav-item:last-child .nav-link {
    padding-right: 0px;
  }
  #footer .nav .nav-link:hover {
    color: #20c997;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #footer .footer-copyright {
    border-top: 1px solid #e2e8ea;
    padding: 0px 0px;
    color: #67727c;
  }
  #footer .footer-copyright .nav .nav-item .nav-link {
    color: #67727c;
  }
  #footer .footer-copyright .nav .nav-link:hover {
    color: #20c997;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #footer .nav.flex-column .nav-item {
    padding: 0px;
  }
  #footer .nav.flex-column .nav-item .nav-link {
    margin: 0.7rem 0px;
  }
  #footer.footer-text-light {
    color: rgba(250, 250, 250, 0.8);
  }
  #footer.footer-text-light .nav .nav-item .nav-link {
    color: rgba(250, 250, 250, 0.8);
  }
  #footer.footer-text-light .nav .nav-item .nav-link:hover {
    color: #fafafa;
  }
  #footer.footer-text-light .footer-copyright {
    border-color: rgba(250, 250, 250, 0.15);
    color: rgba(250, 250, 250, 0.5);
  }
  #footer.footer-text-light:not(.bg-primary) .social-icons-light.social-icons li a {
    color: rgba(250, 250, 250, 0.8);
  }
  #footer.footer-text-light:not(.bg-primary) .social-icons-light.social-icons li a:hover {
    color: #fafafa;
  }
  #footer.footer-text-light.bg-primary {
    color: #fff;
  }
  #footer.footer-text-light.bg-primary .nav .nav-item .nav-link {
    color: #fff;
  }
  #footer.footer-text-light.bg-primary .nav .nav-item .nav-link:hover {
    color: rgba(250, 250, 250, 0.7);
  }
  #footer.footer-text-light.bg-primary .footer-copyright {
    border-color: rgba(250, 250, 250, 0.15);
    color: rgba(250, 250, 250, 0.9);
  }
  #footer.footer-text-light.bg-primary :not(.social-icons) a {
    color: #fff;
  }
  #footer.footer-text-light.bg-primary :not(.social-icons) a:hover {
    color: rgba(250, 250, 250, 0.7);
  }
  
  /*=== 6.1 Social Icons ===*/
  .social-icons {
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
  }
  .social-icons li {
    margin: 0px 6px 4px;
    padding: 0;
    overflow: visible;
  }
  .social-icons li a {
    display: block;
    height: 26px;
    line-height: 26px;
    width: 26px;
    font-size: 18px;
    text-align: center;
    color: #4d555a;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .social-icons li i {
    line-height: inherit;
  }
  .social-icons.social-icons-sm li {
    margin: 0px 4px 4px;
  }
  .social-icons.social-icons-sm li a {
    font-size: 14px;
  }
  .social-icons.social-icons-lg li a {
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 22px;
  }
  .social-icons.social-icons-light li a {
    color: #eee;
  }
  .social-icons.social-icons-muted li a {
    color: #aab1b8;
  }
  .social-icons li:hover a {
    color: #999;
  }
  .social-icons li:hover.social-icons-twitter a, .social-icons.social-icons-colored li.social-icons-twitter a {
    color: #00ACEE;
  }
  .social-icons li:hover.social-icons-facebook a, .social-icons.social-icons-colored li.social-icons-facebook a {
    color: #3B5998;
  }
  .social-icons li:hover.social-icons-linkedin a, .social-icons.social-icons-colored li.social-icons-linkedin a {
    color: #0E76A8;
  }
  .social-icons li:hover.social-icons-rss a, .social-icons.social-icons-colored li.social-icons-rss a {
    color: #EE802F;
  }
  .social-icons li:hover.social-icons-dribbble a, .social-icons.social-icons-colored li.social-icons-dribbble a {
    color: #ea4c89;
  }
  .social-icons li:hover.social-icons-github a, .social-icons.social-icons-colored li.social-icons-github a {
    color: #333333;
  }
  .social-icons li:hover.social-icons-behance a, .social-icons.social-icons-colored li.social-icons-behance a {
    color: #053eff;
  }
  .social-icons li:hover.social-icons-google a, .social-icons.social-icons-colored li.social-icons-google a {
    color: #DD4B39;
  }
  .social-icons li:hover.social-icons-pinterest a, .social-icons.social-icons-colored li.social-icons-pinterest a {
    color: #cc2127;
  }
  .social-icons li:hover.social-icons-youtube a, .social-icons.social-icons-colored li.social-icons-youtube a {
    color: #C4302B;
  }
  .social-icons li:hover.social-icons-instagram a, .social-icons.social-icons-colored li.social-icons-instagram a {
    color: #3F729B;
  }
  .social-icons li:hover.social-icons-skype a, .social-icons.social-icons-colored li.social-icons-skype a {
    color: #00AFF0;
  }
  .social-icons li:hover.social-icons-email a, .social-icons.social-icons-colored li.social-icons-email a {
    color: #6567A5;
  }
  .social-icons li:hover.social-icons-vk a, .social-icons.social-icons-colored li.social-icons-vk a {
    color: #2B587A;
  }
  .social-icons li:hover.social-icons-xing a, .social-icons.social-icons-colored li.social-icons-xing a {
    color: #126567;
  }
  .social-icons li:hover.social-icons-tumblr a, .social-icons.social-icons-colored li.social-icons-tumblr a {
    color: #34526F;
  }
  .social-icons li:hover.social-icons-reddit a, .social-icons.social-icons-colored li.social-icons-reddit a {
    color: #C6C6C6;
  }
  .social-icons li:hover.social-icons-delicious a, .social-icons.social-icons-colored li.social-icons-delicious a {
    color: #205CC0;
  }
  .social-icons li:hover.social-icons-stumbleupon a, .social-icons.social-icons-colored li.social-icons-stumbleupon a {
    color: #F74425;
  }
  .social-icons li:hover.social-icons-digg a, .social-icons.social-icons-colored li.social-icons-digg a {
    color: #191919;
  }
  .social-icons li:hover.social-icons-blogger a, .social-icons.social-icons-colored li.social-icons-blogger a {
    color: #FC4F08;
  }
  .social-icons li:hover.social-icons-flickr a, .social-icons.social-icons-colored li.social-icons-flickr a {
    color: #FF0084;
  }
  .social-icons li:hover.social-icons-vimeo a, .social-icons.social-icons-colored li.social-icons-vimeo a {
    color: #86C9EF;
  }
  .social-icons li:hover.social-icons-yahoo a, .social-icons.social-icons-colored li.social-icons-yahoo a {
    color: #720E9E;
  }
  .social-icons li:hover.social-icons-apple a, .social-icons.social-icons-colored li.social-icons-apple a {
    color: #000;
  }
  .social-icons.social-icons-colored li:hover a {
    color: #999;
  }

/*------------------*/
.section-inner {
    padding: 60px 10px 0 0
}

.action-buttons {
    padding: 50px 10px 0 0
}

.card-deck {
    padding: 30px 30px 0 0;
}


.card-img-top {
    max-height: 96px;
    max-width: 96px;
}

.logo-pokemon img{
    width: auto;
    height: 45px;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}
  
html.is-animating .transition-fade {
    opacity: 0;
}

.pokedex img{
    max-height: 48px;
    max-width: 48px;
}   

.card-pokemon {
    width: 18rem;
}

.card-pokemon img {
    max-height: 18rem;
    max-width: 18rem;
}

a.card, a.card:hover {
    text-decoration: none;
    color: inherit;
}

.evolutionchain-row {
    margin: 2rem;
    padding: 2rem;
}

.evolutionchain ul {
    list-style: none;
}

.evolutionchain li {
    display: inline-flex;
}

li a, li a:hover {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.pokemon-attributes li {
    float: left;
    width: 10rem;
    border-radius: 5px;
    margin: 0.5em 0 0 0.3em;
    padding: 0.5em 0;
    text-align: center;
    color: white;
    display: block;
    line-height: 100%;
}

/* types */
.pokemon-attributes-bug {
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
}

.pokemon-attributes-dark {
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
}

.pokemon-attributes-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
}

.pokemon-attributes-electric {
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
}

.pokemon-attributes-fairy {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
}

.pokemon-attributes-fighting {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723
}

.pokemon-attributes-fire {
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
}

.pokemon-attributes-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
}

.pokemon-attributes-ghost {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
            background-color: #7b62a3;
}

.pokemon-attributes-green {
    background: linear-gradient( 180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
}

.pokemon-attributes-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
}

.pokemon-attributes-ice {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
}

.pokemon-attributes-normal {
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
}

.pokemon-attributes-poison {
    background: linear-gradient( 180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
}

.pokemon-attributes-psy {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
}

.pokemon-attributes-rock {
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
}

.pokemon-attributes-steel {
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
}

.pokemon-attributes-water {
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
}

/* generation, weight, height */
.pokemon-attributes-infos {
    background: #007bff;
}

/* legend and mythical */
.pokemon-attributes-legendary {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
}

.pokemon-attributes-mythical {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
}

@media only screen and (min-width: 768px) {
    .right-panel {
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 0.25rem;
        padding: 1rem 1rem 0rem 1rem;
    }
}

.pokemon-navigation {
    display: block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.pokemon-navigation a, .pokemon-navigation a:hover {
    text-decoration: none;
    color: inherit;
}

.previous {
    float: left;
}

.next {
    float: right;
}