@import "~bootstrap/scss/bootstrap";

@import '@animxyz/core';

// Add all the core/utilities selectors
@include xyz-all;

.square-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.square {
    width: 128px;
    height: 128px;
    background-image: url('../img/logo/pikachu-alola-cap.png');
    background-color: transparent;
}