body {
    background-color: blue;
}

.section-inner {
    padding: 60px 10px 0 0
}

.action-buttons {
    padding: 50px 10px 0 0
}

.card-deck {
    padding: 30px 30px 0 0;
}


.card-img-top {
    max-height: 96px;
    max-width: 96px;
}

.logo-pokemon img{
    width: auto;
    height: 45px;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}
  
html.is-animating .transition-fade {
    opacity: 0;
}

.pokedex img{
    max-height: 48px;
    max-width: 48px;
}   

.card-pokemon {
    width: 18rem;
}

.card-pokemon img {
    max-height: 18rem;
    max-width: 18rem;
}

a.card, a.card:hover {
    text-decoration: none;
    color: inherit;
}

.evolutionchain-row {
    margin: 2rem;
    padding: 2rem;
}

.evolutionchain ul {
    list-style: none;
}

.evolutionchain li {
    display: inline-flex;
}

li a, li a:hover {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.pokemon-attributes li {
    float: left;
    width: 10rem;
    border-radius: 5px;
    margin: 0.5em 0 0 0.4em;
    padding: 0.5em 0;
    text-align: center;
    color: white;
    display: block;
    line-height: 100%;
}

/* types */
.pokemon-attributes-bug {
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
}

.pokemon-attributes-dark {
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
}

.pokemon-attributes-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
}

.pokemon-attributes-electric {
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
}

.pokemon-attributes-fairy {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
}

.pokemon-attributes-fighting {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723
}

.pokemon-attributes-fire {
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
}

.pokemon-attributes-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
}

.pokemon-attributes-ghost {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
            background-color: #7b62a3;
}

.pokemon-attributes-green {
    background: linear-gradient( 180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
}

.pokemon-attributes-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
}

.pokemon-attributes-ice {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
}

.pokemon-attributes-normal {
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
}

.pokemon-attributes-poison {
    background: linear-gradient( 180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
}

.pokemon-attributes-psy {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
}

.pokemon-attributes-rock {
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
}

.pokemon-attributes-steel {
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
}

.pokemon-attributes-water {
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
}

/* generation */
.pokemon-attributes-generation {
    background: #17a2b8;
}

/* generation */
.pokemon-attributes-legendary {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
}

.pokemon-attributes-mythical {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
}