{% extends 'layout.html.twig' %}

{% block body %}
<main>
    <div class="section d-flex">
        <div class="container section-inner my-auto">
            <div class="row">
                <div class="col">
                    <h1>Statistiques </h1>
                    <br>

                    <h4>Principaux pokémons sélectionnés : </h4>

                    {{ render_chart(chart) }}
                </div>
            </div>
        </div>
    </div>   
</main>

{% endblock %}
