{% extends 'layout.html.twig' %}

{% block body %}
<main id="swup" class="transition-fade">
    <div class="section d-flex">
        <div class="container-fluid section-inner my-auto">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Statistiques</li>
            </ol>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area mr-1"></i>
                            Principaux pokémons sélectionnés
                        </div>
                        <div class="card-body">
                            {{ render_chart(chartMostUsedPokemons) }}
                        </div>
                    </div>                                        
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar mr-1"></i>
                            Nombre de matchs gagnés
                        </div>
                        <div class="card-body">
                            {{ render_chart(chartMostWonGamesPokemons) }}
                        </div>
                    </div>                                        
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area mr-1"></i>
                            Points marqués par tournoi
                        </div>
                        <div class="card-body">
                            {{ render_chart(chartPointsByTournament) }}
                        </div>
                    </div>                                        
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-pie mr-1"></i>
                            Couleurs des Pokémons
                        </div>
                        <div class="card-body">
                            {{ render_chart(chartPokemonColors) }}
                        </div>
                    </div>                                        
                </div>
            </div>
        </div>
    </div>   
</main>

{% endblock %}
