{% extends 'base.html.twig' %}

{% block title %}Grand Tournoi Pokémon{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Grand Tournoi Pokémon ✅</h1>
    <h2>Bienvenue au plus grand tournoi de combats de Pokémons, organisé  par Arthur</h2>

    Liste des participants :
    <hr>
    <ul>
        {% for pokemon in pokemons %}
        <li>{{ pokemon.name }} <img src='images/{{ pokemon.apiId }}.png' alt=""></li>
        {% endfor %}
    </ul>
    <hr>
    <a href="{{ path('tournament') }}" class="btn btn-primary">Lancer le tournoi</a>
</div>
{% endblock %}
